.header {
    background-color: #252525;
    color: #f5f5f7;
    margin-bottom: 20px;
}

.header__container {
    display: grid;
    align-items: center;
    grid-template-columns: 0.8fr 0.5fr 1.5fr 1fr;
}
