.products__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.products__line {
    margin-inline-start: auto;
    margin-right: 30px;
}

.products__sort {
    font-weight: bold;
}

.products__value {
    font-weight: bold;
}
